*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 196, 202);
}

h1{
    background-color: rgb(85, 80, 80);
    text-align: center;
    margin-bottom: 3px;

}
.container{
    background-color: rgb(164, 160, 160);
    border:2px solid black;
    margin:3px;
}
table{
   display:block;
    border-collapse: collapse;
}
th {
    background-color: black;
    color: white;
    padding-right:100%;
}
.key{
    padding-right:200px;
}
.value{
    padding-right:78vw;
}